body {
    background-color: #fafafa;
}

nav .navbar-brand{
    display:flex;
    justify-content: center;
    align-items:center;
}

.alert {
    text-align:center;
}

.mainContainer .mainText {
    display:flex;
    justify-content:center;
    flex-direction: column;
	margin-bottom:30px;
    border-bottom: 1px solid #e8e8e8;
}

.mainContainer .jobGridHeader {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.mainContainer .cardContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.mainContainer .card-body {
    padding: 0px;
    padding-left:1.25rem;
}

.mainContainer .card-body ul {
    margin-bottom: 0.5rem;
}

.mainContainer .cardContainer .card-header,
.mainContainer .cardContainer .card-title {
    font-weight:500;
    font-size:1rem;
    margin-bottom: 0.5rem;
}

.mainContainer .formContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.mainContainer .jobGridHeader .recommendedJobs,
.mainContainer .jobGridHeader .availableJobs {
    font-size:25px;
    margin:10px 0;
    padding-bottom:10px;
    border-bottom: 1px solid #e8e8e8;
    text-align:center;
}

.mainContainer span {
    text-align:center;
    font-size:25px;
    font-weight:400;
    margin-top:10px;
    margin-bottom:5px;
    color: #212529;
}

.mainContainer img {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.mainContainer .card {
    width: 50%;
    margin: 10px 10px;
    font-size:15px;
}

.mainContainer .mainText form {
    text-align:center;
    margin-top:20px;
}

.mainContainer .addJobForm .form-row {
    margin-bottom: 15px;
}

.mainContainer .addJobForm {
    width: 500px;
}

.mainContainer .addJobForm input,
.mainContainer .addJobForm textarea {
    font-size:16px;
}

.mainContainer .addJobForm textarea {
    height:150px;
}

.registerContainer {
    background-color: #fafafa;
    height:75vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.registerContainer .column {
    background-color:#fff;
    flex-grow:0;
    width:450px;
    padding: 20px 35px;
    max-height: 100%;
    overflow-y: auto;
}

.registerContainer .column .loginForm form {
    display:flex;
    flex-direction:column;
}

.registerContainer .column form input {
    font-size:14px;
    margin:10px 0;
    border:none;
    border-bottom:1px solid #dedede;
}

.mainContainer .addJobForm input[type="submit"],
.registerContainer .column form input[type="submit"] {
    cursor:pointer;
    background: #4285f4;
    color: #fff;
    height:36px;
    width:88px;
    border:none;
    border-radius:3px;
    font-weight:500;
    margin-top:10px;
    margin-bottom:20px;
}

.registerContainer .column .header {
    padding: 20px 0;
}

.registerContainer .column .header h3 {
    font-size:24px;
    font-weight:400;
    margin:0;
    padding-bottom:0px;
    padding-top:16px;
}

.registerContainer .column .header span {
    font-size:14px;
}