{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    {% if session.user_id %}
        <div class="mainContainer">
            <div class="mainText">
                <span>This is a Job Listing website and you are logged in</span>
            </div>
        </div>
    {% else %}
        <div class="mainContainer">
            <div class="mainText">
                <span>This is a Job Listing website for you to look for your dream job!</span>
                <span>Log in to find out more!</span>
                <form action="/login" method="GET">
                    <button class="btn btn-primary btn-lg" type="submit">Join us now!</button>
                </form>
                <img class="mainImg" src="/static/images/looking-jobs.jpg">
            </div>
        </div>

    {% endif %}
{% endblock %}
