{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                <span>{{message}}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="registerContainer">
        <div class="column">
            <div class="header">
                <img src="../static/images/main-icon.png" title="logo" alt="site logo">
                <h3>Register</h3>
                <span>to continue to Jobs Listing site</span>
            </div>

            <div class="loginForm">
                <form id="register" action="/register" method="post">
                    <input autocomplete="off" name="username" placeholder="Username" type="text" required>
                    <input autocomplete="off" name="email" placeholder="Email address" type="email" required>
                    <input autocomplete="off" name="password" placeholder="Password" type="password" required>
                    <input autocomplete="off" name="password2" placeholder="Re-enter password" type="password" required>
                    <input type="submit" name="submitButton" value="REGISTER">
                </form>
            </div>
            <a class="signInMessage" href="/login">Already has an account? Log in here.</a>
        </div>
    </div>
{% endblock %}
